<div class="row pt-2">
    <div class="col-md-12">
        <button class="btn">History</button>
        <button class="btn">Files</button>
        <button class="btn">Report</button>
    </div>
</div>
<div class="row py-2">
    <div class="col-md-12 pt-3 pb-2 border-top border-bottom">
        <h5 style="color: mediumaquamarine">Quick View Dashboards</h5>
    </div>
</div>
<div class="row py-2">
        <button class="col-md-4 btn border">
            Employees
        </button>
        <button class="col-md-4 btn border">
            Assets
        </button>
        <button class="col-md-4 btn border">
            Accounting
        </button>
        <div></div>
    </div>
